<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="caontainer p-5">
        <div class="row">
            <div class="col-4"></div>
            <div class="col-4 p-3 border rounded shadow">
                <h3 class="text-center fw-bold my-3">Add Category</h3>
                <form action="" method="post">
                    {%csrf_token%}
                    {{form}}
                    <button type="submit">Add</button>
                </form>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="row mt-5">
            <div class="col-3"></div>
            <div class="col-6">
                <table class="table">
                    <tr>
                        <th>Category Name</th>
                        <th>Budget</th>
                        <th>Owner</th>
                        <th>Action</th>
                    </tr>
                    {%for cat in categories%}
                    <tr>
                        <td>{{cat.name}}</td>
                        <td>{{cat.budget}}</td>
                        <td>{{cat.owner}}</td>
                        <td>
                            <a href="" class="btn btn-outline-warning">Edit</a>
                        </td>
                    </tr>
                    {%endfor%}
                </table>
            </div>
            <div class="col-3"></div>
        </div>
    </div>
</body>
</html>