{%extends 'base.html'%}
{%block main_block%}

<div class="caontainer p-5">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4 p-3 border rounded shadow">
            <span class="text-danger">{{message}}</span>
            <h3 class="text-center fw-bold my-3">Add Category</h3>
            <form action="" method="post">
                {%csrf_token%}
                {{form}}
                <button type="submit">Add</button>
            </form>
        </div>
        <div class="col-4"></div>
    </div>
    <div class="row mt-5">
        <div class="col-3"></div>
        <div class="col-6">
            <table class="table">
                <tr>
                    <th>Category Name</th>
                    <th>Budget</th>
                    <th>Owner</th>
                    <th>Action</th>
                </tr>
                {%for cat in categories%}
                <tr>
                    <td>{{cat.name}}</td>
                    <td>{{cat.budget}}</td>
                    <td>{{cat.owner}}</td>
                    <td>
                        <a href="{%url 'category-edit' cat.id%}" class="btn btn-outline-warning">Edit</a>
                    </td>
                </tr>
                {%endfor%}
            </table>
        </div>
        <div class="col-3"></div>
    </div>
</div>

{%endblock%}