{%extends 'base.html'%}
{%block main_block%}

<div class="caontainer p-5">
    <div class="row">
        <div class="col-2"></div>
        <div class="col-8 p-3 border rounded shadow">
            <h3 class="text-center fw-bold my-3">Edit Transaction</h3>
            <form action="" method="post">
                {%csrf_token%}
                <!-- {{form}} -->

                <div class="row">
                    <div class="col-6">
                        <label for="">Enter Title</label>
                        {{form.title}}
                    </div>
                    <div class="col-6">
                        <label for="">Enter Amount</label>
                        {{form.amount}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label for="">Select Category</label>
                        {{form.category_object}}
                    </div>
                    <div class="col-6">
                        <label for="">Select Payment Method</label>
                        {{form.payment_method}}
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <label for="">Enter Owner Name</label>
                        {{form.user}}
                    </div>
                </div>
                <button type="submit" class="btn btn-primary my-3 d-block mx-auto">Update</button>
            </form>
        </div>
        <div class="col-2"></div>
    </div>

</div>






{%endblock%}